---
import Layout from "../components/Layout.astro";
import Article from "../components/Article.astro";
---

<Layout title="My Astro Blog">
	<h1>Welcome to My Blog</h1>
	<p>Check out my latest posts!</p>

	<Article
		title="My First Blog Post"
		date="March 2, 2025"
		content="Welcome to my first blog post using Astro! In this article I will talk about my dog."
		link="#"
	/>

	<Article
		title="My second post"
		date="March 5, 2025"
		content="I'm using components to make these articles!!"
		link="#"
	/>

</Layout>

